<style>
  body{
    background-color: #ddd;
    
 }
</style>
<body>
<div class="card">
  <div class="card-header">
    Articles Details
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @article.title %></h5><br>
    <h6><p class="card-text"><strong>Description: </strong><%= @article.description %></p></h6><br>

    <%=link_to "Edit Article",edit_article_path(@article),class:"btn btn-primary"%> |
    <%=link_to 'Back to articles',articles_path,class:"btn btn-primary"%>
    <br><br>
    <%=link_to "Delete",article_path(@article) , data: { "turbo-method": :delete,turbo_confirm: "Are you sure?" },class:"btn btn-secondary"%>
  </div>
</div>
<body>


<!--<h1>Showing articles details</h1>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>
<%=link_to "Edit",edit_article_path(@article),class:"btn btn-primary"%>|
<%=link_to "Delete",article_path(@article) , data: { "turbo-method": :delete,turbo_confirm: "Are you sure?" },class:"btn btn-primary"%>|
<%=link_to 'Back to articles',articles_path,class:"btn btn-secondary"%>

